hr{
	margin: 0px;
	border-top: 2px solid #61605e;
}
#TEMPORARY{
	/*font-family: 'Oswald', sans-serif*/
	/*font-family: 'Quando', serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 10px;
	margin-left: 30px;
}
h4 span{
	font-family: inherit;
	font-size: inherit !important;
}
#TEMPORARY h2{
	font-weight: 600;
}
#TEMPORARY .row{
	margin: 0px;
}
.fixed-width{
	font-weight: 600;
	overflow: hidden;
	max-width:30px;
	max-height: 1em;
	
}


.table-wrapper { 
    overflow-x:scroll;
    overflow-y:visible;
    margin-left: 10%;
}
#table-wrapper{ white-space: nowrap; position: relative; width: 100%; }
/*#table-blank, #table-blank2, #table-student, #table-name, #table-items { position: fixed; width: }*/
.fa-plus-circle{color: #4BA301;} 
.fa-minus-circle{color: red;} 
#table-lab1-button, #table-prac1-button, #table-proj1-button, #table-lab2-button, #table-prac2-button, #table-proj2-button {background: none; font-size: 20px; padding: 0 3;}
#table-lab1-button-del, #table-prac1-button-del, #table-proj1-button-del, #table-lab2-button-del, #table-prac2-button-del, #table-proj2-button-del {background: none; font-size: 20px; padding: 0 3; display: none;}
#table-items-wrapper tr:nth-child(1),#table-items-wrapper tr:nth-child(1) { width: 23px;}
#attend { padding-left: 10 }

#table-midterm, #table-finals{
	border: solid 2px gray
}

#border-bold, #table-name, #table-blank2, #table-items{
	border-right: solid 2px gray 
}
#border-left, #table-student, #table-blank2, #table-items, #table-blank{
	border-left: solid 2px gray !important;
}
#table-blank{
border-top: solid 2px gray 
}